{% extends 'base.html' %}
{% block title %} 
Comment On Blog Post
{% endblock%}

{% block content %}


<br/><br/>
<h1>Add Comment...</h1>
<br/><br/>

<div class="mb-3">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-secondary">Comment</button>
</form>
</div>

{% if form.errors %}
  <div class="alert alert-danger">
    <ul>
      {% for field, errors in form.errors.items %}
        <li><strong>{{ field }}:</strong> {{ errors|striptags }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}





{% endblock %}
